.container2{
    margin-left: 25% !important;
    margin-top: 2% !important;
}  
    
   .form-group p{
    color:red !important
}

.para{
    text-align: center;
}
.paras{
    text-align: center;
}
span{
    color:green
}

#ppout{
    display:none
}

