
#container{
    width:50%;
    height:65vh;
    float: left;
    margin-left: 25%;
    margin-top: 2%;
   
}
.mainlabel{
    height:7vh;
}
.mainlabel label{
   color: antiquewhite;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 5vh;
    margin-left: 31%;
}  


form{
    height:100% ;
    background-image: url("https://i.ibb.co/9wgmQt3/Premium-Photo-Islamic-background-with-empty-copy-space-good-for-a-special-event-like-ramadan-or-eid.jpg");
    background-size:cover;
}

#maindiv{
    height:100%;
    width:100%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;

}

#fdiv{
    margin-left: 5%;
    height: 25%;
}
#fdiv input{
    width:95% ;
    height:100%;
    
} 

.s-class{
    margin-left: 5%;
    width:95%;
    height: 25%;
    
}

.s1-class{
    height:100%;
    width:50%;
    float: left;
}

.s1-class input{
    width:90%;
    height:100%;
}



.s2-class{
    height:100%;
    width:50%;
    float: left;
}


.lab1{
    height:35%
}
.lab2{
    height:30%
}

.slab1{
    height:35%
}
.slab2{
    height:30%
}

.design{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:80%;
    font-size: 2.8vh;
    margin-top: 2%;
}

.s1-class button{
    margin-left:25% ;
    border-radius: 15%;
    border-color: #198754; ;
    height:45%;
    width:30%;
    background-color: #198754;
}
.s2-class button{
    margin-left:20% ;
    border-radius: 15%;
    height:45%;
    width:30%;
    border-color: #337ab7;
    background-color: #337ab7
}



